---
interface Props {
  title?: string;
  subtitle?: string;
  cta?: string;
}

const {
  title = 'Leave Your Old Life Behind',
  subtitle = "Don't try to be like someone else, be yourself. Be secure with yourself.",
  cta = 'Explore',
} = Astro.props;
---

<div class="circle">
  <div class="circle-title">{title}</div>
  <div class="circle-subtitle">{subtitle}</div>
  <div class="circle-footer">{cta}</div>
</div>
