---
interface Props {
  title?: string;
  subtitle?: string;
  cta?: string;
}

const {
  title = 'imagens, palavras, ritos',
  subtitle = "aqui que está em constante movimento contém todas as formas.",
  cta = 'atravesse',
} = Astro.props;
---

<div class="circle">
  <div class="circle-title">{title}</div>
  <div class="circle-subtitle">{subtitle}</div>
  <div class="circle-footer">{cta}</div>
</div>
