---
interface Props {
  items?: string[];
}

const {
  items = [
    'uma imagem desapareceu ontem à noite',
    'uma constelação foi vista dentro da montagem',
    'filmes começam a lembrar de si mesmos',
    'pesquisadores relatam gestos sem origem',
    'há algo vivo no intervalo entre as palavras'
  ],
} = Astro.props;
---

<marquee width="100%" direction="left">
  {items.map((text) => <span>{text}</span>)}
</marquee>
