---
interface Props {
  items?: string[];
}

const {
  items = [
    'Now And Then You Miss It Sounds Make You Cry',
    'Now In - MoMa Sharing Exhibition NOW',
    'NYC Opens After Long Lockdown Check',
  ],
} = Astro.props;
---

<marquee width="100%" direction="left">
  {items.map((text) => <span>{text}</span>)}
</marquee>
