---
interface Props {
  title: string;
  pinnedLabel?: string;
  pageNumber?: string;
}

const { title, pinnedLabel = 'Pinned Issue', pageNumber = 'NO. 01' } = Astro.props;
---

<div class="blog-header blog-is-sticky">
  <div class="blog-article header-article">
    <div class="blog-big__title">{title}</div>
    <div class="blog-menu rounded small-title">{pinnedLabel}</div>
  </div>
  <div class="blog-article page-number">
    {pageNumber}
  </div>
</div>
